//HTML BASED GRID
//FLOAT / INLINE
$grid-space: 1.2rem;
$col-number: 2;
$size: xs;
@include grid-html-float($size, $col-number);

.only-s,
.only-m,
.only-l {
  @include  not-displayed;
}

.hide-xs {
  @include  not-displayed;
}


@include media(S) {
  $col-number: 4;
  $size: s;
  @include grid-html-float($size, $col-number);

  .only-xs,
  .only-m,
  .only-l {
    @include  not-displayed;
  }

  .hide-s {
    @include  not-displayed;
  }
}

@include media(M) {
  $col-number: 8;
  $size: m;
  @include grid-html-float($size, $col-number);

  .only-xs,
  .only-s,
  .only-l {
    @include  not-displayed;
  }

  .hide-m {
    @include  not-displayed;
  }
}


@include media(L) {
  $col-number: 12;
  $size: l;
  @include grid-html-float($size, $col-number);

  .only-xs,
  .only-s,
  .only-m {
    @include  not-displayed;
  }

  .hide-l {
    @include  not-displayed;
  }
}