
//HTML BASED GRID
//FLEX
.grid-html-flex,
%grid-html-flex {
  display: flex;
  margin-left: -$grid-space;
  width: calc(100% + #{$grid-space});
  margin-bottom: $grid-space;

  @for $i from 1 through $col-number {
    .grid-item--#{$i} {
      flex: $i;
      height: 300px;
      background: royalblue;

      //Cada item interior =
      //Width de la pantalla - los márgenes de los elementos / por el número de columnas
      //eso multiplicado por i para saber cuántas se agrupan
      //y sumando los margenes de las columnas que se han agrupado
      //width: calc(((100% - #{$grid-space} * #{$col-number}) / #{$col-number}) * #{$i} + (#{$grid-space} * (#{$i} - 1)));
      margin-left: $grid-space;
    }
  }
}
