/**

  @buttons
--------------------------------------------------------
  components/_buttons.scss
--------------------------------------------------------
  Default .btn
  Set inline by default

  Modifiers --icon
            --large
            --alert
            --block


  Example: Buttons using anchors
  <p><a href="#" class="btn">Regular Button</a></p>

  Example: Buttons using buttons
  <p><button class="btn">Regular Button</button></p>

------------------------------------------------------ */

button {
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    //border: none;
  }
}

.btn,
%btn {
  @include border-radius(3px);
  @include font-size($font-regular);
  @extend %sans--bold;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  background: $color-btn;
  border: 1px solid $color-blue;
  color: $color-font-btn;
  cursor: pointer;
  line-height: 1.2;
  //text-transform: uppercase;
  text-decoration: none;
  padding: .625em 1.25em;

  &:hover,
  &--hover {
    background: $color-btn-hover;
    border-color: $color-btn-hover;
    outline: none;
  }

  &--disabled {
    pointer-events: none;
    background: $color-btn-disabled;
    border-color: $color-btn-disabled;
    color: $color-font-btn-disabled;
  }

  //icon version
  &--icon {

  }
}





/* @btn--secondary
--------------------------------------------------------

  A btn modifier, secondary

  Example: .btn--secondary
  <a class="btn btn--secondary">Secondary button</a>

------------------------------------------------------ */

.btn-secondary {
  background: $color-btn-secondary;
  border: 1px solid $color-border;
  color: $color-btn-font-secondary;

  &:hover,
  &--hover{
    background-color: $color-btn-secondary;
    border-color: $color-btn-secondary-hover;
    color: $color-btn-secondary-hover;
  }

  &--disabled,
  &:disabled {
    pointer-events: none;
    background: $color-btn-secondary;
    border-color: $color-btn-secondary-disabled;
    color: $color-btn-secondary-disabled;
  }
}

/* @btn--panic
--------------------------------------------------------

  A btn modifier, panic

  Example: .btn--panic
  <a class="btn btn--panic">Secondary button</a>

------------------------------------------------------ */

.btn-panic {
  background: $color-btn-panic;
  border: 1px solid $border-panic-color;
  color: $color-btn-font-panic;

  &:hover,
  &--hover {
    background-color: $color-btn-panic-hover;
    border-color: $color-btn-panic-hover;
    color: $color-btn-font-panic;
  }

  &--disabled,
  &:disabled {
    pointer-events: none;
    background: $color-btn-panic;
    border-color: $color-btn-panic-disabled;
    color: $color-btn-panic-disabled;
  }
}





/* @btn--large
--------------------------------------------------------

  A btn modifier, large

  Example: .btn--large
  <a class="btn btn--large">Large button</a>

------------------------------------------------------ */

.btn--large {
  @include font-size($font-big);
    padding: 1.25rem;
}





/* @btn--block
--------------------------------------------------------

  A btn modifier - makes the button display block, 100%
  width and aligns the text to the center.  Removes left
  and right padding since the text is center aligned, it
  is not needed.  Actually sometimes having the padding
  on the left and right causes problems if the centered
  text is quite long - so we just remove it.

  Example: .btn--block
  <a href="#" class="btn btn--block">Block button</a>

------------------------------------------------------ */

.btn--block {
  display: block;
  width: 100%;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}





/* @btn--icon
--------------------------------------------------------

 UIDEV
 IN PROGRESS

------------------------------------------------------ */

.btn--icon {

}

