/**

  @code
--------------------------------------------------------
  elements/_code.scss
--------------------------------------------------------

  Code elements like <code> and <pre>

  Example: Code in a paragraph
  <p>This is a cool paragraph about a classname called <code>.franz</code></p>


-----------------------------------------------------  */

// Code
//
code {
  background: $color-offwhite;
  display: block;
  line-height: 1.5;
  vertical-align: middle;
  padding: .25em .5em;
}

// Pre
pre {
	
}